/*
    font-weight
    300 - light
    400 - regular
    700 - bold
    800 - extra
*/

@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/NotoSansKR-Light.otf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/NotoSansKR-Regular.otf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/NotoSansKR-Bold.otf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 800;
  font-style: normal;
  src: url("./fonts/NotoSansKR-Black.otf") format("truetype");
  font-display: block;
}
